[package]
name = "crisp"
version = { workspace = true }
edition = { workspace = true }
resolver     = "3"
rust-version = "1.86.0"

[[bin]]
name = "server"
path = "src/server/main.rs"

[[bin]]
name = "cli"
path = "src/cli/main.rs"

[[bin]]
name = "cron"
path = "src/cron/main.rs"

[dependencies]
# Web framework and related
actix-cors = "=0.7.1"
actix-web = "=4.11.0"

# Async and networking
reqwest.workspace = true
tokio.workspace = true

# Cryptography and blockchain
alloy = { version = "=1.0.41", features = ["full", "rpc-types-eth"] }
alloy-primitives.workspace = true
alloy-sol-types.workspace = true
async-trait = { version = "=0.1.88" }
fhe.workspace = true
fhe-traits.workspace = true

# Poseidon hashing dependencies
ark-bn254 = "=0.4.0"
ark-ff = "=0.4.2"
light-poseidon = "=0.1.0"
num-bigint = "=0.4.6"
lean-imt = "=0.1.2"

# Local dependencies
e3-compute-provider.workspace = true
e3-sdk = { workspace = true, default-features = false, features=["full"] }
evm-helpers = { path = "../crates/evm_helpers" }
crisp-constants.workspace = true

# CLI and user interaction
dialoguer = { version = "=0.11.0", features = ["fuzzy-select"] }

# Serialization and deserialization
bincode.workspace = true
serde.workspace = true
serde_json.workspace = true
eyre.workspace = true
derivative.workspace = true

# Utility libraries
bigdecimal = "=0.4.3"
chrono = "=0.4.41"
hex = "=0.4.3"
once_cell = "=1.21.3"
rand.workspace = true
thiserror = "=1.0.69"
clap = { version = "=4.5.41", features = ["derive"] }

# Database
sled = "=0.34.7"

# Logging
env_logger.workspace = true
log.workspace = true
anyhow.workspace = true

# Configuration
config = "=0.14.0"
dotenvy = "=0.15.7"
