@font-face {
  font-family: 'Barlow';
  src: url(/Barlow-Regular.woff) format('woff');
  font-weight: 400;
}

body {
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.02em;

  background-color: #fffaf0;
}

img {
  border-radius: 10px;
}
