# First ignore everything
*
**/*

# Then allow cargo workspace files
!Cargo.toml
!Cargo.lock

# Allow all other workspace members
!crates/*/Cargo.toml
!crates/*/src/**/*.rs

# Allow packages
!packages/*/enclave-contracts/**/*
!crates/*/package.json
!packages/enclave-react/
!packages/enclave-sdk/
!packages/enclave-config/
!packages/enclave-contracts/
!pnpm-workspace.yaml
!pnpm-lock.yaml
!rust-toolchain.yaml



# Explicitly ignore build artifacts everywhere
target/
**/target/
**/.git/
**/.gitignore
**/.DS_Store
**/tests/tmp/
**/*.log

# Explicitly ignore node_modules
**/node_modules/
