# First ignore everything
*
**/*

# Then allow cargo workspace files
!Cargo.toml
!Cargo.lock

# Allow all other workspace members
!crates/*/Cargo.toml
!crates/*/src/**/*.rs
!crates/*/build.rs

# Allow packages
!crates/*/package.json
!packages/**/*
!packages/enclave-contracts/deployed_contracts.json
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!rust-toolchain.toml
!**/*.sh

# Explicitly ignore build artifacts everywhere
target/
**/target/
**/.git/
**/.gitignore
**/.DS_Store
**/tests/tmp/
**/*.log

# Explicitly ignore node_modules
**/node_modules/
