[package]
name = "net"
version = "0.1.0"
edition = "2021"
description = ": coordinates the encryption and decryption of enclave computations"
repository = "https://github.com/gnosisguild/enclave/packages/ciphernode"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = { workspace = true, features = ["attributes"] }
async-trait = { workspace = true }
futures = { workspace = true }
cipher = { workspace = true }
data = { workspace = true }
libp2p = { workspace = true, features = [
  "async-std",
  "gossipsub",
  "identify",
  "kad",
  "macros",
  "mdns",
  "ping",
  "quic",
  "tokio",
  "tcp",
  "noise",
  "yamux"
] }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
enclave-core = { path = "../core" }
anyhow = { workspace = true }
actix = { workspace = true }
zeroize = { workspace = true }
