[package]
name = "crisp"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/server/main.rs"

[[bin]]
name = "cli"
path = "src/cli/main.rs"

[[bin]]
name = "cron"
path = "src/cron/main.rs"

[dependencies]
# Web framework and related
actix-cors = "0.7.0"
actix-web = "4.9.0"

# Async and networking
reqwest = { version = "0.12.8", features = ["json"] }
tokio = { version = "1.37.0", features = ["full"] }
futures = "0.3.31"

# Cryptography and blockchain
alloy = { version = "0.2.1", features = ["full", "rpc-types-eth"] }
alloy-primitives = { version = "0.6", default-features = false, features = ["rlp", "serde", "std"] }
alloy-sol-types = { version = "0.6" }
fhe = { git = "https://github.com/gnosisguild/fhe.rs", branch = "feature/greco-integration", version = "0.1.0-beta.7" }
fhe-traits = { git = "https://github.com/gnosisguild/fhe.rs", branch = "feature/greco-integration", version = "0.1.0-beta.7" }
hmac = "0.12.1"
jwt = "0.16.0"
sha2 = "0.10.8"

# Local dependencies
compute-provider = { path = "../../../../packages/compute_provider" }
voting-host = { path = "../program/host" }

# CLI and user interaction
dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }

# Serialization and deserialization
bincode = "1.3.3"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"

# Utility libraries
chrono = "0.4.38"
eyre = "0.6"
hex = "0.4"
once_cell = "1.19.0"
rand = "0.8.5"
thiserror = "1.0.64"

# Database
sled = "0.34.7"

# WebAssembly
wasm-bindgen = "0.2"

# Logging
env_logger = "0.11.5"
log = "0.4.22"

# Configuration
config = "0.14.0"
dotenvy = "0.15.7"
