node_modules
.env
.direnv

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.enclave/data/
.enclave/config/
.enclave/caches/

/target

# Ignore risc0 files
tests/Elf.sol

/deployments

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# tmux log files
tmux-*.log
