chains:
  - name: "hardhat"
    rpc_url: "ws://localhost:8545"
    contracts:
      e3_program:
        address: "0xc3e53F4d16Ae77Db1c982e75a937B9f60FE63690"
        deploy_block: 1 # Set to actual deploy block
      enclave:
        address: "0xA51c1fc2f0D1a1b8494Ed1FE312d7C3a78Ed91C0"
        deploy_block: 1 # Set to actual deploy block
      ciphernode_registry:
        address: "0x610178dA211FEF7D417bC0e6FeD39F05609AD788"
        deploy_block: 1 # Set to actual deploy block
      bonding_registry:
        address: "0x2279B7A0a67DB372996a5FaB50D91eAA73d2eBe6"
        deploy_block: 1 # Set to actual deploy block
      fee_token:
        address: "0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0"
        deploy_block: 1 # Set to actual deploy block

program:
  dev: true
  # risc0:
  #   risc0_dev_mode: 1  # 0 = real groth16 proofs, 1 = fake proofs (dev mode)
  #   bonsai_api_key: xxxxxxxxxxxxxxxx
  #   bonsai_api_url: xxxxxxxxxxxxxxxx

nodes:
  cn1:
    address: "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
    quic_port: 9201
    autonetkey: true
    autopassword: true
  cn2:
    address: "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"
    quic_port: 9202
    autonetkey: true
    autopassword: true
  cn3:
    address: "0x90F79bf6EB2c4f870365E785982E1f101E93b906"
    quic_port: 9203
    autonetkey: true
    autopassword: true
  cn4:
    address: "0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65"
    quic_port: 9204
    autonetkey: true
    autopassword: true
  cn5:
    address: "0x9965507D1a55bcC2695C58ba16FB37d819B0A4dc"
    quic_port: 9205
    autonetkey: true
    autopassword: true
  ag:
    address: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
    quic_port: 9206
    autonetkey: true
    autopassword: true
    role:
      type: aggregator
