VITE_ENCLAVE_API=http://127.0.0.1:4000
VITE_WALLETCONNECT_PROJECT_ID=
# A token with a public mint function. Also used as the fee token for Enclave. 
# This is its default address in Anvil node
VITE_CRISP_TOKEN=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
# Addresses of requesters for which to show rounds in the UI. Comma separated Ethereum addresses.
VITE_E3_REQUESTERS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266,0x70997970C51812dc3A010C7d01b50e0d17dc79C8
