VITE_ENCLAVE_API=http://127.0.0.1:4000
VITE_TWITTER_SERVERLESS_API=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_E3_PROGRAM_ADDRESS=0x7a2088a1bFc9d81c55368AE168C2C02570cB814F # Default E3 program address from hardhat
