services:
  cn1:
    image: { { IMAGE } }
    volumes:
      - ./cn1.yaml:/home/ciphernode/.config/enclave/config.yaml:ro
      - cn1-data:/home/ciphernode/.local/share/enclave
    secrets:
      - source: secrets_cn1
        target: secrets.json
    env_file: .env
    environment:
      AGGREGATOR: "false"
      ADDRESS: "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
      QUIC_PORT: 9091
    deploy:
      replicas: 1
      endpoint_mode: dnsrr
    networks:
      - global-network

  cn2:
    image: { { IMAGE } }
    volumes:
      - ./cn2.yaml:/home/ciphernode/.config/enclave/config.yaml:ro
      - cn2-data:/home/ciphernode/.local/share/enclave
    secrets:
      - source: secrets_cn2
        target: secrets.json
    env_file: .env
    environment:
      AGGREGATOR: "false"
      ADDRESS: "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"
      QUIC_PORT: 9092
    deploy:
      replicas: 1
      endpoint_mode: dnsrr
    networks:
      - global-network

  cn3:
    image: { { IMAGE } }
    volumes:
      - ./cn3.yaml:/home/ciphernode/.config/enclave/config.yaml:ro
      - cn3-data:/home/ciphernode/.local/share/enclave
    secrets:
      - source: secrets_cn3
        target: secrets.json
    env_file: .env
    environment:
      AGGREGATOR: "false"
      ADDRESS: "0x90F79bf6EB2c4f870365E785982E1f101E93b906"
      QUIC_PORT: 9093
    deploy:
      replicas: 1
      endpoint_mode: dnsrr
    networks:
      - global-network

  aggregator:
    image: { { IMAGE } }
    depends_on:
      - cn1
    volumes:
      - ./agg.yaml:/home/ciphernode/.config/enclave/config.yaml:ro
      - agg-data:/home/ciphernode/.local/share/enclave
    secrets:
      - source: secrets_agg
        target: secrets.json
    env_file: .env
    environment:
      AGGREGATOR: "true"
      ADDRESS: "0x8626a6940E2eb28930eFb4CeF49B2d1F2C9C1199"
      QUIC_PORT: 9094
    deploy:
      replicas: 1
      endpoint_mode: dnsrr
    networks:
      - global-network

secrets:
  secrets_cn1:
    file: cn1.secrets.json
  secrets_cn2:
    file: cn2.secrets.json
  secrets_cn3:
    file: cn3.secrets.json
  secrets_agg:
    file: agg.secrets.json

volumes:
  cn1-data:
  cn2-data:
  cn3-data:
  agg-data:

networks:
  global-network:
    driver: overlay
