chains:
  - name: "hardhat"
    rpc_url: "ws://localhost:8545"
    contracts:
      e3_program:
        address: "0x7a2088a1bFc9d81c55368AE168C2C02570cB814F"
        deploy_block: 1 # Set to actual deploy block
      enclave:
        address: "0x2279B7A0a67DB372996a5FaB50D91eAA73d2eBe6"
        deploy_block: 1 # Set to actual deploy block
      ciphernode_registry:
        address: "0xa513E6E4b8f2a923D98304ec87F64353C4D5C853"
        deploy_block: 1 # Set to actual deploy block
      bonding_registry:
        address: "0x0165878A594ca255338adfa4d48449f69242Eb8F"
        deploy_block: 1 # Set to actual deploy block

program:
  dev: true
  # risc0:
  #   risc0_dev_mode: 1 # 0 = real groth16 proofs, 1 = fake proofs (dev mode)
  #   bonsai_api_key: xxxxxxxxxxxxxxxx
  #   bonsai_api_url: xxxxxxxxxxxxxxxx

nodes:
  cn1:
    address: "0xbDA5747bFD65F08deb54cb465eB87D40e51B197E"
    quic_port: 9201
    autonetkey: true
    autopassword: true
  cn2:
    address: "0xdD2FD4581271e230360230F9337D5c0430Bf44C0"
    quic_port: 9202
    autonetkey: true
    autopassword: true
  cn3:
    address: "0x2546BcD3c84621e976D8185a91A922aE77ECEc30"
    quic_port: 9203
    autonetkey: true
    autopassword: true
  ag:
    address: "0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199"
    quic_port: 9094
    autonetkey: true
    autopassword: true
    role:
      type: aggregator
