chains:
  - name: "hardhat"
    rpc_url: "ws://localhost:8545"
    contracts:
      e3_program:
        address: "0x09635F643e140090A9A8Dcd712eD6285858ceBef"
        deploy_block: 1 # Set to actual deploy block
      enclave:
        address: "0x2279B7A0a67DB372996a5FaB50D91eAA73d2eBe6"
        deploy_block: 1 # Set to actual deploy block
      ciphernode_registry:
        address: "0xa513E6E4b8f2a923D98304ec87F64353C4D5C853"
        deploy_block: 1 # Set to actual deploy block
      bonding_registry:
        address: "0x0165878A594ca255338adfa4d48449f69242Eb8F"
        deploy_block: 1 # Set to actual deploy block

program:
  dev: true
  # risc0:
  #   risc0_dev_mode: 1 # 0 = real groth16 proofs, 1 = fake proofs (dev mode)
  #   bonsai_api_key: xxxxxxxxxxxxxxxx
  #   bonsai_api_url: xxxxxxxxxxxxxxxx

nodes:
  cn1:
    address: "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
    quic_port: 9201
    autonetkey: true
    autopassword: true
  cn2:
    address: "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"
    quic_port: 9202
    autonetkey: true
    autopassword: true
  cn3:
    address: "0x90F79bf6EB2c4f870365E785982E1f101E93b906"
    quic_port: 9203
    autonetkey: true
    autopassword: true
  ag:
    address: "0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65"
    quic_port: 9094
    autonetkey: true
    autopassword: true
    role:
      type: aggregator
