# SigNoz Cloud Configuration
# Replace these values with your actual SigNoz cloud credentials

# SigNoz Cloud Endpoint(depends on the region you chose while setting up the cloud workspace. `in` is for India)
SIGNOZ_ENDPOINT=https://ingest.in.signoz.cloud:443

# SigNoz Ingestion Key
SIGNOZ_INGESTION_KEY=your_signoz_ingestion_key_here
