[package]
name = "guests"
version = "0.1.0"
edition = "2021"
resolver = "3"
rust-version = "1.85.0"

[workspace]

[[bin]]
name = "program"
path = "src/bin/program.rs"

[dependencies]
risc0-zkvm = { version = "=3.0.3", default-features = false, features = ['std'] }
e3-compute-provider = { git = "https://github.com/gnosisguild/enclave", rev = "632766e4ed1ceeccdeb023a56f16413a33be6f46" }
e3-user-program = { path = "../../program" }
bincode = "=1.3.3"
anyhow = "=1.0.98"

[profile.release]
lto = "thin"
