<!doctype html>
<html lang="en">
  <head>
    <title>Enclave</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon.png" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Enclave" />
    <meta
      name="description"
      content="Enclave enables confidential computation through Encrypted Execution Environments (E3), leveraging fully homomorphic encryption (FHE) and threshold cryptography to provide secure, private computation on encrypted data without revealing inputs or intermediate results."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Enclave" />
    <meta
      property="og:description"
      content="Enclave enables confidential computation through Encrypted Execution Environments (E3), leveraging fully homomorphic encryption (FHE) and threshold cryptography to provide secure, private computation on encrypted data without revealing inputs or intermediate results."
    />
    <meta property="og:image" content="/favicon.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Enclave" />
    <meta
      property="twitter:description"
      content="Enclave enables confidential computation through Encrypted Execution Environments (E3), leveraging fully homomorphic encryption (FHE) and threshold cryptography to provide secure, private computation on encrypted data without revealing inputs or intermediate results."
    />
    <meta property="twitter:image" content="/favicon.png" />
    <meta
      name="keywords"
      content="Enclave, Encrypted Execution Environments, E3, confidential computation, privacy-preserving computation, Fully Homomorphic Encryption, FHE, threshold cryptography, distributed threshold cryptography, DTC, zero-knowledge proofs, ZKP, secure computation, private computation, homomorphic encryption, data confidentiality, encrypted data processing"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body class="overflow-hidden">
    <div id="root"></div>
    <div id="modal-root"></div>
    <div id="popover-root"></div>
    <div id="hover-popover-root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
