name: EVM Version release

on:
  release:
    types: [created]

env:
  MNEMONIC: "test test test test test test test test test test test junk"
  INFURA_API_KEY: "zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
  ETHERSCAN_API_KEY: "zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 20
      - run: yarn
      - run: yarn evm:release
        env:
          NPM_AUTH_TOKEN: ${{secrets.PUBLISH_NPM_TOKEN}}
          YARN_REGISTRY: https://registry.npmjs.org/
